body {
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
}
body::after{
    display: block;
    content: "";
    height: 68px;
}
*, *::before, *::after{
    box-sizing: border-box;
}
.header {
    background-color: rgb(83, 67, 78);
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 5px solid black ;
    padding: 20px 0;
    width: 100%;
}
.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation ul li {
    display: inline;
    margin-right: 10px;
}
.navigation ul li:last-child{
    margin-right: 0;
}
.navigation a, .profile a {
    text-decoration: none;
    color: rgb(255, 234, 163);
    font-weight: bold;
    text-transform: uppercase;

}
.main {
    background-color: rgb(255, 255, 255);
    padding-top: 1px;
    padding-bottom: 1px;
}
.container{
    width: 95%;
    margin: 0 auto;
}
.sideBarSection{
    margin-bottom: 20px;

}
.sideBarHeader{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.2rem;
}
.sideBar{
    padding: 20px 20px 20px 0px;
    width: 200px;
    float: left;
    position: fixed;
    margin-top: 50px;
    z-index: 1;
}
.navigation{
    float: left;
}
.profile{
    float: right;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.productsCategoryHeader{
    margin-top: 0;
}
.pageContent{
    padding: 20px;
    margin-left: 220px;
}
.productCard{
    display: inline-block;
    width: 500px;
    height: 350px;
    background-color: rgb(209, 207, 207);
    border: 2px solid rgb(41, 41, 41);
    margin-bottom: 20px;
    border-radius: 2px;
}
.productImage{
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
}
.productImage img{
    height: 100%;
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
}
.productDetails{
    width: 50%;
    height: 100%;
    padding: 20px;
    float: right;
}
.productDetails header{
    font-size: 1.2rem;
    font-weight: bold;

}
.productDetails .information{
    text-align: justify;
    font-size: 0.8rem;
    height: 65%;
    overflow: hidden;
}

.btn{
    border: none;
    
}
.controls{
    text-align: center;
}
.productDetails .controls .btn .price {
    background-color: rgb(56, 56, 56);
    
}
.productDetails .controls .btn .buy{
    background-color: rgb(80, 72, 190);
    
}
.productDetails .controls .btn .buy:hover{
    background-color: rgb(99, 31, 99);
}
.menu span:hover{
    background-color: rgb(99, 31, 99);
}
.btn .price{
    text-align: left;
    
}
.btn .buy{
    padding-left: 3px;
    padding-right: 3px;
}
.productDetails .btn span {
    padding: 4px 7px;
    display: inline;
    font-size: 0.7rem;
    color: white;
}
button{
    background: none;
}
.profile:hover{
    background-color: rgb(99, 31, 99);
}
.footer{
    display: block;
    background-color: rgb(83, 67, 78);
    border-top: 5px solid black;
    text-align: left;
    padding: 5px 0;
    width: 100%;
  
    position: absolute;
    
    bottom: 0;   
}
.pgup{
    display: block;
    border: none;
    position: fixed;
    right: 15px;
    bottom: 40px;
    border-radius: 50%;  
}
.pgup:hover{
    background-color: gray;
}